- commits        = Hash[(1..12).to_a.zip([0]*12)].merge(Hash[stats.month_stats.map { |month,commit| [month,commit.commits] }])
- lines_added    = Hash[(1..12).to_a.zip([0]*12)].merge(Hash[stats.month_stats.map { |month,commit| [month,commit.lines_added] }])
- lines_deleted  = Hash[(1..12).to_a.zip([0]*12)].merge(Hash[stats.month_stats.map { |month,commit| [month,commit.lines_deleted] }])
- changes        = lines_added.merge(lines_deleted) { |key,old,new| old+new }

- block(:activity_per_month) do
  #chart_activity_per_month{:style => "height: 500px"}

  %script
    var chart_activity_per_month           = new Object();
    chart_activity_per_month.label         = '#{label(:activity_per_month)}';
    chart_activity_per_month.label_y_axis  = "Number of commits";
    chart_activity_per_month.label_y2_axis = "Changed Lines";
    chart_activity_per_month.target        = '#chart_activity_per_month';
    chart_activity_per_month.categories    = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    chart_activity_per_month.series        = [{"name":"Commits","yAxis": 0,"data":[#{commits.values.join(",")}]},{"name":"Changes","yAxis": 1,"data":[#{changes.values.join(",")}]}];

    $(document).ready(function() {
    createAreaChart(chart_activity_per_month);
    });
