- commits        = Hash[(0..51).to_a.zip([0]*52)].merge(Hash[stats.lastweeks_stats.map { |week,commit| [week,commit.commits] }])
- lines_added    = Hash[(0..51).to_a.zip([0]*52)].merge(Hash[stats.lastweeks_stats.map { |week,commit| [week,commit.lines_added] }])
- lines_deleted  = Hash[(0..51).to_a.zip([0]*52)].merge(Hash[stats.lastweeks_stats.map { |week,commit| [week,commit.lines_deleted] }])
- changes        = lines_added.merge(lines_deleted) { |key,old,new| old+new }

- block(:activity_per_week_last_year) do
  #chart_activity_per_week_last_year{:style => "height: 500px"}

  %script
    var chart_activity_per_week_last_year           = new Object();
    chart_activity_per_week_last_year.label         = '#{label(:activity_per_week_last_year)}';
    chart_activity_per_week_last_year.label_y_axis  = "Number of commits";
    chart_activity_per_week_last_year.label_y2_axis = 'Number of changes';
    chart_activity_per_week_last_year.target        = '#chart_activity_per_week_last_year';
    chart_activity_per_week_last_year.categories    = #{(1..52).map{ |v| v.to_s }.reverse};
    chart_activity_per_week_last_year.series        = [{"name":"Commits","yAxis": 0,"data":#{commits.values.reverse}},{"name":"Changes","yAxis": 1,"data":#{changes.values.reverse}}];

    $(document).ready(function() {
    createAreaChart(chart_activity_per_week_last_year);
    }); 
