- commits  = Hash[(0..6).to_a.zip([0]*7)].merge(Hash[stats.wday_stats.map { |day,commit| [(day + 6) % 7,commit.commits] }])
- result   = commits.map { |d,c| [weekday(d),c] }

- block(:commits_per_day) do
  %div.col-md-5{:style => "height: 500px"}
    #chart_commits_per_weekday{:style => "height: 350px"}
  
  %script
    var chart_commits_per_weekday     = new Object();
    chart_commits_per_weekday.label   = "Commits per weekday";
    chart_commits_per_weekday.target  = '#chart_commits_per_weekday';
    chart_commits_per_weekday.series  = [{"name":"Commits","data":#{result.to_s}}];

    $(document).ready(function() {
    createPieChart(chart_commits_per_weekday);
    });
