- layout :default
/ = blocks :lastweeks, :hour_of_day, :day_of_week, :hour_of_week, :commitchart, :commits_per_year, :commits_per_month, :commits_per_yearmonth
= blocks :activity_per_day, :activity_per_week_last_year
= blocks :activity_per_hour, :activity_per_weekday, :activity_per_weekday_and_hour
= blocks :activity_per_month

